/* RANDOM NUM */
/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

#myButton:active {
    background-color: green;
    color: white;
}


.myLabels {
    font-size: 3em;
} */



